.App {
    .menu {
        height: $large-medium;
        max-height: 100%;
        transition:max-height .3s linear;
        position: sticky;;
        top: 0;
        z-index: 100;
        max-height: 120px;
    }
    .menu-hidden {
        max-height: 0px;
    }
}

@media screen and (min-width: $sm) {
    .App {

    }
}
