.Article {
    height: 300px;
    flex-wrap: nowrap;
    .col-6 {
        width: 100%;
    }
    p {
        text-overflow: ellipsis;
        margin: 0px;
        color: $grey;
        line-height: 30px;
        text-align: justify;
    }
    h2 {
        color: $dark-grey;
    }
    .image-container {
        display: flex;
        .image {
            width: 100%;
            height:100%;
            background-position: center;
            overflow:hidden;
            background-size: 100%;
            background-repeat: no-repeat;
            max-width: 500px;
            margin: auto
        }
    }
    .learn-more {
        position: absolute;
        bottom: 0;
        background: $dark-orange;
        border-radius: $extra-small;
        color: $plain-white;
    }
}

@media screen and (min-width: $sm) {
    .Article {

    }
}
