.BlackOverlay {

    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    background-color: $transparent-black;


    &.opened {
        width: 100%;

    }

}

@media screen and (min-width: $sm) {
    .BlackOverlay {

    }
}
