.HamburgerMenuIcon {
    .bar {
        height: $extra-small;
        width: $medium-small;
        background: $dark-orange;
        border-radius: $extra-small;
    }
}

@media screen and (min-width: $md) {
    .HamburgerMenuIcon {
    }
}
