.HamburgerMenuIcon {
    .bar {
        height: $extra-small;
        width: 35px;
        background: $dark-orange;
        border-radius: $extra-small;
    }
}

@media screen and (min-width: $md) {
    .HamburgerMenuIcon {
        .bar {
            width: $medium;
        }
    }
}
