.Header {
    background: $plain-white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: sticky;
    top: 0;
    z-index: 100;
    max-height: 200px;
    height: 100%;
    .menu {
        height: $medium;
        max-height: 100px;
        transition: max-height .3s linear;
        background: $plain-white;
        //box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px -2px;
    }
    .menu-hidden {
        max-height: 0px;
    }
}

@media screen and (min-width: $sm) {
    .Header {

    }
}
