.SectionMenu {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 24px 24px -2px;
    .section {
        height: $extra-small;
        &.selected {
            background: $dark-orange;
        }
    }
    .section-container  {
        min-width: $large;
        height: auto;
    }
    .sections {
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        scrollbar-width: none;
        -ms-overflow-style: none;
        scrollbar-width: none;

    }

}

@media screen and (min-width: $sm) {
    .SectionMenu {

    }
}
